.navbar {
    padding: 25px !important;
    background-color: var(--nav-bar-bg);
    box-shadow: 0 8px 20px RGBA(37, 51, 67, 0.68);
}

.navbar-toggler i {
    
    color: var(--polar-1);
}

.navbar-nav {
    padding-right: 108px;
}

.nav-item a{
    padding-left: 148px;
    color: var(--text-light);
    font-size: 24px;
}

.navbar-brand,
.navbar-brand:hover {
    padding-left: 140px;
    font-weight: bold;
    color: var(--text-light);
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 1%;
    }
}
.nav-link {
    padding-left:48px !important;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:visited,
.nav-item a:active {
    text-decoration: none;
    color: var(--text-light);
    
    padding-left: 48px;
    font-size: 18px;
}

.footer-basic {
    padding:40px 0;
    border-top: 8px solid var(--highlight-1);
    background-color: var(--nord-1);
    color: var(--text-light);
}

.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid var(--highlight-1);

    margin:0 8px;
    color:var(--frost-2);
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}


#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    background-image: linear-gradient(0deg, var(--nord-1), var(--nord-4));
    color: var(--polar-1); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 47px;
    height: 48px;
    padding: 4px; /* Some padding */
    border-radius: 25%; /* Rounded corners */
    font-size: 24px; /* Increase font size */
    font-weight: bolder;
  }
  
  #toTop:hover {
    background-image: linear-gradient(0deg, var(--frost-1), var(--frost-3));
    color: var(--text-dark)
  }