:root {
    --nord-1:#2e3440;
    --nord-2:#3b4252;
    --nord-3:#434c5e;
    --nord-4:#4c566a;
    --polar-1:#d8dee9;
    --polar-2:#e5e9f0;
    --polar-3:#eceff4;
    --frost-1:#8fbcbb;
    --frost-2:#88c0d0;
    --frost-3:#81a1c1;
    --frost-4:#5e81ac;

    --nav-bar-bg: var(--nord-1);
    --text-light: var(--polar-2);
    --text-dark: var(--nord-2);

    --highlight-1: var(--frost-3);
    --highlight-2: var(--frost-1)
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--nord-1);
}

* {
    font-family:  arvo, serif;
  }