.navbar {
    padding: 25px !important;
    background-color: var(--nav-bar-bg);
    box-shadow: 0 8px 20px RGBA(37, 51, 67, 0.68);
}

.navbar-toggler i {
    
    color: var(--polar-1);
}

.navbar-nav {
    padding-right: 100px;
}

.nav-item a{
    padding-left: 32px;
    color: var(--text-light);
    font-size: 24px;
}

.navbar-brand,
.navbar-brand:hover {
    padding-left: 120px;
    font-weight: bold;
    color: var(--text-light);
    text-decoration: none;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:visited,
.nav-item a:active {
    text-decoration: none;
    color: var(--text-light);
    
    padding-left: 24px;
    font-size: 18px;
}