{% extends "boilerplate.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_page_top_header.css') }}">

{% endblock %}
{% block content %}
<div class="row border_bottom" id="me">
	<div class="col top_header container-fluid">
		<div class="row ">
			<div class="col-lg-5 d-flex img_container">
				<img class="slidein mx-auto" src="{{ url_for('static', filename='img/common/me.JPG')}}" alt="">
			</div>
			<div class="col-lg">
				<div class="slidein_body mt-md-1">
					<p class="top_text">Hey there! I'm &nbsp;&nbsp;<b> REWEL CABILES </b> &nbsp;&nbsp;!</p>
					<p class="top_main_text"> I am a graduating Computer Science student and I have had a passion for all things programming and computers since I was young.</p>
					<p class="top_main_text">Check out my featured Projects below! or check out my github and resume on the links above!</p>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mx-auto transition border_top ">
	<div class="container-fluid slide_up" id="projects">
		<h3 class="slide_up"> <b>FEATURED PROJECTS</b> </h3>
		<hr>
	</div>
</div>

<div class="projects_showcase ">
	{% for project in featured_projects %}

	<div class="row mx-auto slide_up project">
		<div class="col-md-4 no-gutter mx-0 px-0">
			<video class="vidya" autoplay muted loop>
				<source src="{{ 'https://f004.backblazeb2.com/file/rewelcabiles-xyz-media/projects/'+project.project_dir+'/preview.webm' }}" type="video/mp4">
				Your browser does not support the video tag.
			</video> </div>
		<div class="col container project_details">
			<div class="project_detail_titles d-flex justify-content-between">
				<h2>{{ project.project_name }}</h2>
				<div></div>
				<a target="_blank" href="{{ project.git_link }}">
					<i class="bi bi-github"></i>
					Git
				</a>
			</div>			
			<hr>
			<div class="d-flex">
				{% for genre in project.genre %}
					<span class="genre badge">{{ genre }}</span>
				{% endfor %}
			</div>
			<p>{{ project.blurb }}</p>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row mx-auto transition ">
	<div class="container-fluid slide_up" id="projects">
		<h3 class="slide_up"> <b>OTHER PROJECTS </b> <i title="This is for projects that are small in scope or are just experiments." class="bi bi-info-circle"></i> </h3> 
		
		<hr>
	</div>
</div>

<div class="projects_showcase bottom_border2">
	{% for project in other_projects %}
		<div class="row mx-auto slide_up project">
			<div class="col-md-4 no-gutter mx-0 px-0">
				<video class="vidya" autoplay muted loop>
					<source src="{{ 'https://f004.backblazeb2.com/file/rewelcabiles-xyz-media/projects/'+project.project_dir+'/preview.webm' }}" type="video/mp4">
					Your browser does not support the video tag.
				</video> </div>
			<div class="col container project_details">
				<div class="project_detail_titles d-flex justify-content-between">
					<h2>{{ project.project_name }}</h2>
					<div></div>
					<a target="_blank" href="{{ project.git_link }}">
						<i class="bi bi-github"></i>
						Git
					</a>
				</div>			
				<hr>
				<div class="d-flex">
					{% for genre in project.genre %}
						<span class="genre badge">{{ genre }}</span>
					{% endfor %}
				</div>
				<p>{{ project.blurb }}</p>
			</div>
		</div>
	{% endfor %}
</div>


{% endblock %}
{% block scripts%}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}