{% extends "boilerplate.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_page_top_header.css') }}">

{% endblock %}
{% block content %}
<div class="row border_bottom">
	<div class="col top_header container-fluid">
		<div class="row ">
			<div class="col-lg-5 d-flex img_container">
				<img class="slidein mx-auto" src="{{ url_for('static', filename='img/common/me.JPG')}}" alt="">
			</div>
			<div class="col-lg">
				<div class="slidein_body mt-md-1">
					<p class="decorative_main_text">
						rewelcabiles@smartfridge ~/website-project> cat intro.txt
					</p>
					<p class="top_text">
						Hey There! I'm <b> REWEL CABILES </b>
					</p>
					<p class="top_main_text"> 
						I am a graduating Computer Science student thats had a passion for all things programming and computers since I was young.
					</p>
					<p class="top_main_text">
						Check out my featured Projects below! or check out my github or resume on the links above!
					</p>
					<p class="decorative_main_text">
						rewelcabiles@smartfridge ~/website-project> neofetch<span class="blink">|</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mx-auto transition border_top ">
	<div class="container-fluid slide_up" id="projects">
		<h3 class="slide_up"> <b>PROJECTS</b> </h3>
		<hr>
	</div>
</div>

<div class="projects_showcase ">
	<div class="row mx-auto slide_up">
		<div class="col-md-4 no-gutter mx-0 px-0">
			<video class="vidya" autoplay muted loop>
				<source src="{{ url_for('static', filename='img/projects/neon-fire/preview.webm') }}" type="video/mp4">
				Your browser does not support the video tag.
			</video> </div>
		<div class="col container project_details">
			<div class="project_detail_titles d-flex justify-content-between">
				<h2>Neon Fire</h2>
				<div></div>
				<a target="_blank" href="https://github.com/rewelcabiles/NeonFire">
					<i class="bi bi-github"></i>
					Git
				</a>
			</div>
			
			<hr>
			<p>
				Sunt cupidatat irure elit aute sint eu aliquip cillum excepteur excepteur commodo Lorem ipsum. Ad esse laboris mollit fugiat incididunt anim nisi in est amet. Minim irure elit exercitation labore irure aute. Tempor incididunt enim sit minim dolore elit esse sunt. In pariatur nulla nisi cillum proident cillum ullamco elit eiusmod Lorem. Ut elit consequat aute officia voluptate culpa. Commodo veniam esse sit cupidatat Lorem do.
			</p>
		</div>
	</div>
</div>



{% endblock %}
{% block scripts%}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}